<!DOCTYPE html>
<html>
  <head>
    <title>StoreLog | 売り場ノート</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-blue-50">
    <%= render 'shared/navbar' %>

    <div class="pt-16">
      <%= render 'shared/flash' %>

      <main class="container mx-auto px-5">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
